html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Serif", serif;
  font-family: "Noto Serif JP", serif;
}

a {
  text-decoration: none;
}

.ly_header {
  position: relative;
}

.ly_header_inner {
  height: 96px;
  z-index: 1;
}

.ly_header_inner__sticky {
  position: fixed;
  background: rgba(40, 47, 53, 0.8);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ly_pageWrapper__outer {
  width: 100%;
  max-width: calc(1200px + 15px * 2);
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

#first_view > .ly_pageWrapper__outer {
  height: calc(100vh - 96px);
  position: relative;
}

.ly_pageWrapper__inner {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.ly_section#works {
  background-image: url(../img/works-bgi@2x.jpg);
  background-size: cover;
  background-position: center;
}

.ly_section#contact {
  background-image: url(../img/contact-bgi@2x.jpg);
  background-size: cover;
  background-position: center;
}

.ly_footer_inner {
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.bl_headerUnit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  max-width: calc(1200px + 15px * 2);
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.el_siteTitle {
  font-size: 2.6rem;
  font-style: italic;
}
.el_siteTitle a {
  color: #FFFFFF;
}

.bl_inSiteLinkList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
}
.bl_inSiteLinkList li {
  list-style: none;
}

.bl_inSiteLink {
  font-size: 1.6rem;
  font-style: italic;
  color: #FFFFFF;
}

.bl_bgiCarousel {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.bl_bgiCarousel_img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.bl_copy {
  position: absolute;
  bottom: 26.22%;
}

.bl_copy_main {
  font-size: 7rem;
  color: #FFFFFF;
  margin: 0;
}

.bl_copy_sub {
  font-size: 4rem;
  color: #FFFFFF;
  margin: 0;
}

.el_sectionTitle {
  font-size: 6rem;
  font-weight: bold;
  font-style: italic;
  margin: 100px 0 80px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.el_sectionTitle::after {
  content: "";
  display: inline-block;
  border: 2px solid;
  width: 200px;
  margin-left: 1em;
}

.el_sectionLead {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0 60px;
}

.bl_media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.bl_media_text {
  font-size: 1.6rem;
  font-weight: bold;
  width: 44%;
}

.bl_media_img {
  width: 44%;
}

.el_bgText {
  font-size: 9rem;
  font-weight: bold;
  color: rgba(23, 23, 23, 0.05);
  margin: 70px 0;
}

.bl_3colCardUnit, .bl_3colBannerUnit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.bl_3colCardUnit li, .bl_3colBannerUnit li {
  list-style: none;
}

.bl_3colCardUnit {
  margin-bottom: 80px;
}

.bl_3colCardUnit_item {
  margin-right: 20px;
}

.bl_3colCardUnit_item:last-of-type {
  margin-right: 0;
}

.bl_card_img {
  width: 100%;
}

.bl_card_text {
  font-size: 1.6rem;
  background-color: #FFFFFF;
  margin: 0;
  padding: 8% 8%;
}

.bl_3colBannerUnit {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-height: 320px;
}

.bl_3colBannerUnit_item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.bl_banner {
  position: relative;
}

.bl_banner_text {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
}

.bl_banner_text:hover {
  background: rgba(40, 47, 53, 0.8);
}

.bl_banner_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bl_btnWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bl_btn {
  display: block;
  width: 235px;
  height: 60px;
  font-size: 1.6rem;
  color: #171717;
  background-color: #F7D43F;
  text-align: center;
  line-height: 60px;
  border-radius: 30px;
}

.bl_contact_msg {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0 40px;
}

.el_creditTxt {
  font-size: 1.4rem;
  font-weight: bold;
}

.hp_mb25 {
  margin-bottom: 25px;
}

.hp_white {
  color: #FFFFFF;
}

.hp_bgWhite {
  color: rgba(255, 255, 255, 0.05);
}

.hp_right {
  margin-left: auto;
}/*# sourceMappingURL=style.css.map */