html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Serif", serif;
  font-family: "Noto Serif JP", serif;
}

a {
  text-decoration: none;
}

.ly_section__bgi {
  background-size: cover;
  background-position: center;
}

.ly_pageWrapper__outer {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.ly_pageWrapper__inner {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.ly_header {
  position: relative;
}
.ly_header_inner {
  width: 100%;
  height: 96px;
  z-index: 1;
}
.ly_header_inner__sticky {
  position: fixed;
  background: rgba(40, 47, 53, 0.8);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#first_view > .ly_pageWrapper__outer {
  height: calc(100vh - 96px);
  position: relative;
}

.ly_footer {
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.bl_headerUnit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.el_siteTitle {
  font-size: 2.6rem;
  font-style: italic;
}
.el_siteTitle a {
  color: #ffffff;
}

.bl_inSiteLinkList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
}
.bl_inSiteLinkList li {
  list-style: none;
}

.bl_inSiteLink {
  font-size: 1.6rem;
  font-style: italic;
  color: #ffffff;
}

.bl_bgiCarousel {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.bl_bgiCarousel_img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.bl_copy {
  position: absolute;
  bottom: 26.22%;
}
.bl_copy_main {
  font-size: 7rem;
  color: #ffffff;
  margin: 0;
}
.bl_copy_sub {
  font-size: 4rem;
  color: #ffffff;
  margin: 0;
}

.el_sectionTitle {
  font-size: 6rem;
  font-weight: bold;
  font-style: italic;
  margin-top: 100px;
  margin-bottom: 80px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.el_sectionTitle::after {
  content: "";
  display: inline-block;
  border: 2px solid;
  width: 200px;
  margin-left: 1em;
}

.el_sectionLead {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.bl_media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.bl_media_text {
  font-size: 1.6rem;
  font-weight: bold;
  width: 44%;
}
.bl_media_img {
  width: 44%;
}

.el_bgText {
  font-size: 9rem;
  font-weight: bold;
  color: rgba(23, 23, 23, 0.05);
  margin-top: 70px;
  margin-bottom: 0;
  padding-bottom: 70px;
}

.bl_cardUnit {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.bl_cardUnit li {
  list-style: none;
  margin-right: 20px;
}
.bl_cardUnit li:last-of-type {
  margin-right: 0;
}

.bl_card_img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bl_card_text {
  font-size: 1.6rem;
  background-color: #ffffff;
  margin: 0;
  padding: 8%;
}

.bl_bannerUnit {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.bl_bannerUnit li {
  list-style: none;
  width: 100%;
}
.bl_bannerUnit__fullWidth {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.bl_banner {
  position: relative;
}
.bl_banner:hover .bl_banner_img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}
.bl_banner_img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bl_banner_text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  white-space: nowrap;
}

.el_btnWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.el_btn {
  display: block;
  width: 235px;
  height: 60px;
  font-size: 1.6rem;
  color: #171717;
  background-color: #f7d43f;
  text-align: center;
  line-height: 60px;
  border-radius: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.el_btn:hover, .el_btn:focus {
  opacity: 0.8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.el_contactMsg {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.el_creditTxt {
  font-size: 1.4rem;
  font-weight: bold;
}

.hp_mb25 {
  margin-bottom: 25px;
}

.hp_mb40 {
  margin-bottom: 40px;
}

.hp_mb60 {
  margin-bottom: 60px;
}

.hp_mb80 {
  margin-bottom: 80px;
}

.hp_white {
  color: #ffffff;
}

.hp_bgWhite {
  color: rgba(255, 255, 255, 0.05);
}

.hp_right {
  margin-left: auto;
}/*# sourceMappingURL=style.css.map */