// ================================================================
// base
// ================================================================
html {
  font-size: 62.5%;
}
body {
  font-family: 'Noto Serif', serif;
  font-family: 'Noto Serif JP', serif;
}
a {
  text-decoration: none;
}

// ================================================================
// layout
// ================================================================
.l-header, .l-section, .l-footer {
  display: flex;
  justify-content: center;
}
.l-header {
  position: relative; // 背景sliderをabsoluteで設置するため
}
.section_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: calc(1200px + 15px * 2);
  padding: 0 15px;
}
.section_container--sticky_menu {
  position: fixed;
  background: rgb(40 47 53 / 80%);
  transition: .3s;
}
.l-header .section_container {
  height: 50px;
}
#first_view .section_container {
  height: calc(100vh - 50px);
}
.has_bgi {
  background-size: cover;
  background-position: center;
}
#works {
  @extend .has_bgi;
  background-image: url(../img/works-bgi@2x.jpg);
}
#contact {
  @extend .has_bgi;
  background-image: url(../img/contact-bgi@2x.jpg);
}

// ================================================================
// module
// ================================================================
.menu_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // height: 96px; TODO ヘッダーの高さ調整
  font-style: italic;
  a {
    color: #FFFFFF;
  }
}
.site_title {
  font-size: 2.6rem;
}
.header_menu {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
.header_menu__item::before {
  content: none;
}
.in_site_link {
  font-size: 1.6rem;
}
.main_copy {
  font-size: 7rem;
  color: #FFFFFF;
}
.sub_copy {
  font-size: 4rem;
  color: #FFFFFF;
}
.carousel {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.carousel__item {
  width: 100%;
  height: 100vh;
}
.carousel__img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.section_title {
  font-size: 6rem;
  font-weight: bold;
  font-style: italic;
}
.section_title::after {
  content: "";
  display: inline-block;
  border: 2px solid;
  width: 200px;
  vertical-align:super;
  // TODO 線を右にずらす
}
.section_lead {
font-size: 3rem;
font-weight: bold;
}
.media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bg_text {
  font-size: 9rem;
  font-weight: bold;
  color: rgb(23 23 23 / 5%);
}
.card_list, .bl_3colBannerUnit{
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
// TODO カード画像サイズ修正
.card__text {
  font-size: 1.6rem;
  background-color: #FFFFFF;
  margin: 0;
  padding: 8% 8%;
}
.btn {
  display: block;
  width: 235px;
  height: 60px;
  font-size: 1.6rem;
  color: #171717;
  background-color: #F7D43F;
  text-align: center;
  line-height: 60px;
  border-radius: 30px;
}
.bl_3colBannerUnit {
  width: 100%;
}
.bl_3colBannerUnit_item {
  width: 33%;
  height: 320px;
  position: relative;
}
.bl_banner_text {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 320px; // TODO サイズ指定せずに上下中央に配置する
  text-align: center;
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
}
.bl_banner_text:hover {
  background: rgb(40 47 53 / 80%);
}
.bl_banner_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bl_contact_msg {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
// ================================================================
// state
// ================================================================
.white {
  color: #FFFFFF;
}
.right {
  text-align: right;
}