// ================================================================
// base
// ================================================================
html {
  font-size: 62.5%;
}
body {
  font-family: 'Noto Serif', serif;
  font-family: 'Noto Serif JP', serif;
}
a {
  text-decoration: none;
}

// ================================================================
// layout
// ================================================================
.ly_section__bgi {
  background-size: cover;
  background-position: center;
}
.ly_pageWrapper__outer {
  width: 100%;
  max-width: calc(1200px + 15px * 2);
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.ly_pageWrapper__inner {
  width: 100%;
  max-width: 1000px;
  // ly_pageWrapper__outerにpaddingがあるためinnerにはpadding不要
  margin-left: auto;
  margin-right: auto;
}
// header
.ly_header {
  position: relative; // 背景カルーセルをabsoluteで設置するため
}
.ly_header_inner {
  width: 100%;
  height: 96px;
  z-index: 1;
}
.ly_header_inner__sticky {
  position: fixed;
  background: rgb(40 47 53 / 80%);
  transition: .3s;
}
// first_view
#first_view > .ly_pageWrapper__outer {
  height: calc(100vh - 96px); // 画面高さ - ヘッダー高さ
  position: relative;
}
// footer
.ly_footer_inner {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// ================================================================
// module
// ================================================================
.bl_headerUnit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: calc(1200px + 15px * 2);
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.el_siteTitle {
  font-size: 2.6rem;
  font-style: italic;
  a {
    color: #FFFFFF;
  }
}
.bl_inSiteLinkList {
  display: flex;
  justify-content: space-between;
  width: 350px;
  li {
    list-style: none;
  }
}
.bl_inSiteLink {
  font-size: 1.6rem;
  font-style: italic;
  color: #FFFFFF;
}
.bl_bgiCarousel {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.bl_bgiCarousel_img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.bl_copy {
  position: absolute;
  bottom: 26.22%;
}
.bl_copy_main {
  font-size: 7rem;
  color: #FFFFFF;
  margin: 0;
}
.bl_copy_sub {
  font-size: 4rem;
  color: #FFFFFF;
  margin: 0;
}
.el_sectionTitle {
  font-size: 6rem;
  font-weight: bold;
  font-style: italic;
  margin: 100px 0 80px;
  display: inline-flex;
  align-items: center;
}
.el_sectionTitle::after {
  content: "";
  display: inline-block;
  border: 2px solid;
  width: 200px;
  margin-left: 1em;
}
.el_sectionLead {
font-size: 3rem;
font-weight: bold;
text-align: center;
margin: 0 0 60px;
}
.bl_media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bl_media_text {
  font-size: 1.6rem;
  font-weight: bold;
  width: 44%;
}
.bl_media_img {
  width: 44%;
}
.el_bgText {
  font-size: 9rem;
  font-weight: bold;
  color: rgb(23 23 23 / 5%);
  margin: 70px 0;
  // TODO 下マージンがはみ出てるので要対応
}
.bl_cardUnit {
  margin: 0;
  padding: 0;
  display: flex;
  li {
    list-style: none;
    margin-right: 20px;
  }
  li:last-of-type {
    margin-right: 0;
  }
}
.bl_card_img {
  width: 100%;
  object-fit: cover;
}
.bl_card_text {
  font-size: 1.6rem;
  background-color: #FFFFFF;
  margin: 0;
  padding: 8%;
}
.bl_bannerUnit {
  margin: 0;
  padding: 0;
  display: flex;
  li {
    list-style: none;
    width: 100%;
  }
}
.bl_bannerUnit__fullWidth {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
.bl_banner {
  position: relative;
}
.bl_banner:hover {
  .bl_banner_img {
    filter: brightness(50%);
  }
}
.bl_banner_img {
  width: 100%;
  object-fit: cover;
}
.bl_banner_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  white-space: nowrap;
}
.bl_btnWrapper {
  display: flex;
  justify-content: center;
}
.bl_btn {
  display: block;
  width: 235px;
  height: 60px;
  font-size: 1.6rem;
  color: #171717;
  background-color: #F7D43F;
  text-align: center;
  line-height: 60px;
  border-radius: 30px;
}
.bl_contact_msg {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0 40px;
}
.el_creditTxt {
  font-size: 1.4rem;
  font-weight: bold;
}
// ================================================================
// helper
// ================================================================
.hp_mb25 {
  margin-bottom: 25px;
}
.hp_mb80 {
  margin-bottom: 80px;
}
.hp_white {
  color: #FFFFFF;
}
.hp_bgWhite {
  color: rgb(255 255 255 / 5%);
}
.hp_right {
  margin-left: auto;
}